{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }} - {{ form.vars.data.id ? 'Editar' : 'Nuevo' }} proveedor
{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
            <h1>{{ form.vars.data.id ? 'Editar' : 'Nuevo' }} proveedor</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('provider.index') }}" title="Ir a Inicio">
                            Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('provider.index') }}" title="Ir a Proveedores">
                            Proveedores
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Nuevo
                    </li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="row g-3" method="POST">
                                <div class="col-md-10">
                                    <h5 class="card-title">{{ form.vars.data.id ? 'Editar' : 'Nuevo' }} proveedor</h5>
                                </div>
                                {{ form_row(form._token) }}
                                <div class="col-md-2">
                                    <div class="form-check form-switch">
                                        {{ form_widget(form.active) }}
                                        {{ form_label(form.active) }}
                                        {% if not form.active.vars.valid %}
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.active) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        {% if form.name.vars.valid %}
                                            {{ form_widget(form.name) }}
                                            {{ form_label(form.name) }}
                                        {% else %}
                                            {{ form_widget(form.name, { 'attr': { 'class': 'form-control is-invalid' } }) }}
                                            {{ form_label(form.name) }}
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.name) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        {% if form.providerType.vars.valid %}
                                            {{ form_widget(form.providerType) }}
                                            {{ form_label(form.providerType) }}
                                        {% else %}
                                            {{ form_widget(form.providerType, { 'attr': { 'class': 'form-select is-invalid' } }) }}
                                            {{ form_label(form.providerType) }}
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.providerType) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        {% if form.email.vars.valid %}
                                            {{ form_widget(form.email) }}
                                            {{ form_label(form.email) }}
                                        {% else %}
                                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control is-invalid', 'type': 'email' } }) }}
                                            {{ form_label(form.email) }}
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.email) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        {% if form.phone.vars.valid %}
                                            {{ form_widget(form.phone) }}
                                            {{ form_label(form.phone) }}
                                        {% else %}
                                            {{ form_widget(form.phone, { 'attr': { 'class': 'form-control is-invalid' } }) }}
                                            {{ form_label(form.phone) }}
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.phone) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    {{ form_widget(form.save) }}
                                    <button style="display:none;" disabled type="submit" class="submitting-button btn btn-primary">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Guardando...
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('button[type=submit]').click(function () {
            $(this).hide();
            $('.submitting-button').show();
        });
    </script>
{% endblock %}